<div class="stats-form wrapper-wide school-dropdown">
  <form action="/users/<%= @user.id %>/profiles" method="get">
    <p class="label">
      <span class="form-label-left" id="school-label">Select School: </span>
      <select name="schools">
        <% School.all.each do |school| %>
          <option value="<%= school.id %>"><%= school.name %></option>
        <% end %>
      </select>
      <span class="form-label-left"><input type="submit" value="Submit"></span>
    </p><br>
  </form>
</div>
