

<form action="/users/<%= @user.id %>/profiles" method="get">
  Select School: <select name="schools">
<% School.all.each do |school| %>
  <option value="<%= school.id %>"><%= school.name %></option>
<% end %>
</select>
<input type="submit" value="Submit">
</form>

