/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.dpl-logo_desktop {
  width: 40%;
  display: block;
  float: left;
  position: relative;
  padding: 3%;
  padding-left: 6%;
  margin: none;
  box-sizing: border-box;
}

.dpl-logo_mobile {
  display: none;
}

.navbar ul {
  width: 60%;
  display: block;
  float: left;
  position: relative;
  padding-top: 4%;
  padding-bottom: 3%;
  padding-right: 3%;
  text-align: right;
  box-sizing: border-box;
}

.navbar li {
  list-style: none;
  display: inline;
  padding-left: 2%;
  padding-right: 2%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  text-transform: uppercase;
}

.navbar a {
  color:#58585B;
  text-decoration: none;
}

.navbar a:hover {
  color:#81B6E3;
}

h2 {
  text-align: center;
}

.greeting {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  clear: left;
  padding-left: 3%;
  padding-right: 3%;
}
.menu {
  position: relative;
  display: block;
  clear: left;
  min-width: 100%;
  margin: 3%;
}

.stuff-box {
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
  padding-left: 3%;
  padding-right: 3%;
}

.dpl-central {
  display: block;
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 3%;
}

.button {
  display: block;
  border-radius: 5px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  margin-bottom: 5%;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

.button a {
  text-decoration: none;
  color: white;
  vertical-align: text-bottom;
}
.button-red {
  background-color: #D93F24;
}
.button-yellow {
  background-color: #FFD401;
}

.button-blue {
  background-color: #81B6E3;
}

.button-green {
  background-color: #A4C14E;
}

.button-list {
  list-style: none;
  width: 50%;
  padding: 3%;
  float: right;
  box-sizing: border-box;
}

.button-list li {
  text-align: center;
}

.login-form {
  clear: left;
  text-align: left;
  padding-top: 3%;
  padding-left: 6%;
}
.login-form .label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75em;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 5px;
    padding: 1%;
    background-color: #81B6E3;
    border-radius: 10px;
}

.login-form input {
    padding: 1%;
    border: 1px solid, #F5F5F5;
    border-radius: 4px;

}

.stats-form .label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75em;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-align: right;
    padding: 1%;
    background-color: #81B6E3;
    border-radius: 10px;
}

.stats-form input {
    padding: 2%;
    text: inherit;
    border: 1px solid, #F5F5F5;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75em;
    font-weight: bold;
    color: #58585B;

}

.stats-form select {
    padding: 2%;
    border: 1px solid, #F5F5F5;
    border-radius: 4px;

}

.desktop-stuff-box-right {
  clear: left;
  width: 60%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: white;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: auto;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
}

.form-label-left {
  text-align: left;
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: white;
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #58585B;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page-title {
  text-align: right;
  color: #58585B;
  padding-right: 1%;
}

.form-value {
  color: #58585B
}

.form-label-left a {
  text-decoration: none;
  color: white;
}

.label th, td {
  font-size: .75em;
  padding: 2%;
}

.label-sm th, td {
  font-size: .5em;
  padding: 1%;
}

.hidden {
  display: none;
}

.desktop-stuff-box-right-wide {
  clear: left;
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: white;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: auto;
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
}

table {
  width: 100%;
  text-align: right;
}

.form-value a {
  text-decoration: none;
  color: #81B6E3;
}
