@media only screen and (max-device-width: 767px) {
  .navbar {
    display: none;
  }

  img.dpl-logo {
    width: 83%;
  }

  .dropbtn {
      background-color: #81B6E3;
      color: white;
      padding: 16px;
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 25px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
  }

  .navbar-dropdown {
      position: relative;
      display: block;
      float: left;
      margin-top: 6%;
      margin-bottom: 6%;
      padding-right: 6%;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      font-size: 25px;
      font-family: Arial, Helvetica, sans-serif
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .navbar-dropdown:hover .dropdown-content {
      display: block;
  }

  .navbar-dropdown:hover .dropbtn {
      background-color: #81B6E3;
  }
}

@media only screen and (min-device-width: 768px) {
  .navbar-dropdown {
    display: none;
  }

  img.dpl-logo {
    width: 45%;
  }

  .navbar {
    width: 50%;
    float: left;
    padding-top: 3%;
    font-size: 12px;
  }

  .navbar ul {
    width: 100%;
    display: block;
    float: left;
    position: relative;
    padding-top: 4%;
    padding-bottom: 3%;
    padding-right: 3%;
    text-align: right;
    box-sizing: border-box;
  }

  .navbar li {
    list-style: none;
    display: inline;
    padding-left: 4%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
  }

  .navbar a {
    color:#58585B;
    text-decoration: none;
  }

  .navbar a:hover {
    color:#81B6E3;
  }
}