@media only screen and (min-device-width: 768px) {

  .greeting {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    clear: left;
    padding-left: 3%;
    padding-right: 3%;
  }
  .menu {
    position: relative;
    display: block;
    clear: left;
    min-width: 100%;
    margin: 3%;
  }

  .button-red {
    background-color: #D93F24;
  }
  .button-yellow {
    background-color: #FFD401;
  }

  .button-green {
    background-color: #A4C14E;
  }

  .label th, td {
    font-size: .75em;
    padding: 2%;
  }

  .label-sm th, td {
    font-size: .5em;
    padding: 1%;
  }

  .hidden {
    display: none;
  }

  .wrapper-wide {
    clear: left;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: white;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: auto;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
  }

  table {
    width: 100%;
    text-align: right;
  }

  .form-value a {
    text-decoration: none;
    color: #81B6E3;
  }
}